.genres {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: 1.5em auto 0;
    gap: 1em;
}

.genres--subcontainer {
    margin-bottom: 1em;
}

.genres--letter {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 .5em;
}

.genres--genre {
    font-size: .8rem;
    margin: .4em 0; 
}

.genres--genre:last-child {
    margin-bottom: 0;
}

.genres--loading {
    font-size: 1.5rem;
    text-align: center;
    grid-column: 1 / -1;
}

@media (min-width: 400px){
    .genres {
        grid-template-columns: repeat(2, 1fr);
    }
}